body {
    padding: 30px;
    background-color: #FEFEFE; /* couleur d'arriere plan */
    color: #333333; /* couleur texte */
    font-family: sans-serif; /* police texte */

}

.container {
    width: 320px; /* largeur absolue calculatrice */
    background-color: white; /* couleur de fond calculatrice */
    margin: 50px auto; /* centrer calculatrice */
}

table {
    width: 100%; /* largeur relative calculatrice */
    border-color: #f4f4f4;  /* couleur bordure boutons */
}

td {
    width: 25%; /* largeur interne row */
}

button {
    width: 100%; /* largeur boutons (centrer texte) */
    height: 70px; /* hauteur boutons */
    font-size: 24px; /* taille police boutons */
    background-color: white; /* couleur de fond boutons */
    border: none;
}

#inputLabel {
    height: 80px;   /* hauteur ecran */
    font-size: 50px; /* taille police ecran */
    vertical-align: bottom; /* alignement vertical texte ecran */
    text-align: right; /* aligner text ecran droite */
    padding-right: 16px; /* espacer texte ecran droite */
    background-color: #ececec; /* couleur de fond ecran */
}

.title {
    color: #555555;
    font-size: 2em; /* taille police titre */
    text-align: center; /* centrer texte titre */
}
